# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# Visual Studio Code
# =========================
.vscode/

# =========================
# PlatformIO
# =========================
.pio/
.pioenvs/

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary Files
# =========================
*.tmp
*.bak